<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/style.css">
  
    <title>Usuario</title>
  </head>
  <body class="fondo">


  <h1 class="Titulo1">Bienvenido</h1>

    <div class="container1">
      <form action="html-txt"></form>
        <label for="Usuario">Usuario:</label>
        <input type="text" name="" id="">

        <label for="Nombre">Nombre:</label>
        <input type="text" name="" id="">
      
        <label for="password">Contraseña:</label>
        <input type="Password" name="" id="">

        <label for="mail">Correo:</label>
        <input type="mail" name="" id="">

        <div>
        <input type="submit" value="Enviar">
      </div>
    </div>


  <script src="/view/script.js"></script>
  </body>
</html>