<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/view/style.css">
    <title>Usuario</title>
  </head>

  <body class="fondo">

      <h1 class="titulo">Usuario</h1>

      <div class="tabla">
        <form action="#" method="get">

          <div>
          <label for="">Nombre:</label>
            <input type="text" name="" id="">
            <input type="submit" value="Enviar">

          <label for="">Usuario:</label>
            <input type="text" name="" id="">
            <input type="submit" value="Enviar">

          <label for="">Correo:</label>
            <input type="email" name="" id="">
            <input type="submit" value="Enviar">

          <label for="">Contraseña:</label>
            <input type="password" name="" id="">
            <input type="submit" value="Enviar">

          <label for="">Confirmar Contraseña:</label>
            <input type="password" name="" id="">
          <div>  

            <input type="submit" value="Guardar">

        </form>
        </div>

      </div>

      <script src="/view/script.js"></script>

  </body>
</html>