<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
  
    <title>Usuario</title>
  </head>
  <body class="fondo">

    <div class="imagen">
      <a href="proyecto_v1.html" ><img src="./picture/regreso.png" alt="Regreso" width="6%"></a>
    </div>

  <h1 class="Titulo1">Cambiar datos de usuario</h1>

    <div class="container1">
      <form action="html-txt"></form>

        <label for="Usuario">Usuario:</label>
        <br>
        <input class= "inputText" type="text" name="" id="">
        <br><br>
        <label for="Nombre">Nombre:</label>
        <br>
        <input class= "inputText" type="text" name="" id="">
        <br><br>
        <label for="password">Contraseña:</label>
        <br>
        <input class= "inputText" type="Password" name="" id="">
        <br><br>
        <label for="mail">Correo:</label>
        <br>
        <input class= "inputText" type="mail" name="" id="">
        <br><br>
          <div >
            <input  class="inputSub" type="submit" value="Enviar">
          </div>
    </div>


  <script src="./script.js"></script>
  </body>
</html>